* {
  font-family: "Roboto", sans-serif;
}
.navigation-web-studio {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}
.navigation-web-studio span {
  color: #2196f3;
}
.navigation-pages {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: 0.3 ease-in;
}
.navigation-pages:hover,
.navigation-pages:focus {
  color: #2196f3;
  text-decoration: underline;
}
.navigation-list {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 1270px;
}
.navigation-list > li {
  display: inline-block;
  margin-right: 50px;
}
.navigation-list li:last-child {
  margin-right: 0;
}

.navigation-mail-tel li {
  display: inline-block;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 315px;
}
.navigation-mail-tel li:last-child {
  margin-left: 0;
  margin-right: 0;
}
.mailto {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3 ease-in;
}
.mailto:hover,
.mailto:focus {
  color: #2196f3;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3 ease-in;
}
.tel:hover,
.tel:focus {
  color: #2196f3;
}
.header-main-content {
  width: 100%;
  height: 600px;
  background-image: url("../img/1st/Header-img.png");
  background-repeat: no-repeat;
  text-align: center;
  background-color: #fff;
}

.header-title {
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 30px;
}
.header-title-button {
  width: 200px;
  height: 50px;
  padding: 10px 32px 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
}
.main-info {
  width: 100%;
}
.main-advantages {
  width: 1170px;
  height: 439px;
  margin: 0 auto;

  list-style: none;
  text-align: left;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
}
.main-details {
  background-image: url("../img/1st/antenna-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 70px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.main-advantages h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.main-advantages p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.main-punctuality {
  background-image: url("../img/1st/clock-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 70px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.main-plan {
  background-image: url("../img/1st/diagram-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 70px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.main-tech {
  background-image: url("../img/1st/astronaut-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 70px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.line {
  width: 1170px;
  height: 0px;
  border: 1px solid #ececec;
  margin: 0 auto;
  margin-bottom: 94px;
}
.main-what-we-do {
  display: flex;
  flex-direction: row;
}
